# Module 6 Challenge - Part 2

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Rain inches (past 3 hours),Snow inches (past 3 hours)
0,0,Mehamn,NO,71.04,27.85,29.88,29.88,90,93,7.00,0,0
1,1,Kawhia,NZ,-38.07,174.82,60.01,60.01,81,37,1.01,0,0
2,2,Puerto Ayora,EC,-0.74,-90.35,84.20,79.00,70,20,20.80,0,0
3,3,Hidrolandia,BR,-4.41,-40.44,73.18,73.18,80,20,2.93,0,0
4,4,Castro,BR,-24.79,-50.01,52.66,52.66,87,0,3.53,0,0

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Get the maximum temperature.
min_temp = city_data_df["Min Temp"]
temps = []
for temp in min_temp:
    temps.append(min(temp, 0))

In [6]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_request = input("Do you want a city that is raining? (yes/no) ")
snow_request = input("Do you want a city that is snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90
Do you want a city that is raining? (yes/no) no
Do you want a city that is snowing? (yes/no) no

In [7]:
if rain_request == 'no' and snow_request == 'no':
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Min Temp"] >= min_temp) & \
                                           (city_data_df["Rain inches (past 3 hours)"] == 0) & \
                                           (city_data_df["Snow inches (past 3 hours)"] ==0)]
    
elif rain_request == 'no' and snow_request == 'yes': 
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Min Temp"] >= min_temp) & \
                                           (city_data_df["Rain inches (past 3 hours)"] != 0) & \
                                           (city_data_df["Snow inches (past 3 hours)"] == 0)] 
elif rain_request == 'yes' and snow_request == 'no': 
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Min Temp"] >= min_temp) & \
                                           (city_data_df["Rain inches (past 3 hours)"] == 0) & \
                                           (city_data_df["Snow inches (past 3 hours)"] != 0)] 
else:
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Min Temp"] >= min_temp) & \
                                           (city_data_df["Rain inches (past 3 hours)"] != 0) & \
                                           (city_data_df["Snow inches (past 3 hours)"] != 0)]

In [8]:
preferred_cities_df.head(20)

,City_ID,City,Country,Lat,Lng,Max Temp,Min Temp,Humidity,Cloudiness,Wind Speed,Rain inches (past 3 hours),Snow inches (past 3 hours)
1,1,Kawhia,NZ,-38.07,174.82,60.01,60.01,81,37,1.01,0,0
2,2,Puerto Ayora,EC,-0.74,-90.35,84.20,79.00,70,20,20.80,0,0
3,3,Hidrolandia,BR,-4.41,-40.44,73.18,73.18,80,20,2.93,0,0
6,6,Portland,US,45.52,-122.68,87.01,81.00,23,75,18.34,0,0
7,7,Kapaa,US,22.08,-159.32,80.60,77.00,61,40,17.22,0,0
8,8,Jian,CN,27.12,114.98,72.07,72.07,93,95,6.82,0,0
9,9,Alofi,NU,-19.06,-169.92,84.20,84.20,79,67,10.29,0,0
17,17,San Policarpo,PH,12.18,125.51,82.83,82.83,83,100,8.41,0,0
18,18,Guerrero Negro,MX,27.98,-114.06,76.32,76.32,45,0,15.75,0,0
21,21,Syriam,MM,16.77,96.24,80.60,80.60,83,20,5.82,0,0
22,22,Bredasdorp,ZA,-34.53,20.04,60.80,60.80,87,0,2.01,0,0
24,24,Pedernales,DO,18.04,-71.74,84.45,84.45,59,100,11.61,0,0
25,25,Hilo,US,19.73,-155.09,75.20,69.01,69,90,14.99,0,0
26,26,San Cristobal,VE,7.77,-72.22,84.20,84.20,51,75,23.04,0,0
29,29,Hermanus,ZA,-34.42,19.23,64.99,64.99,63,0,6.15,0,0
31,31,Bambous Virieux,MU,-20.34,57.76,75.20,71.01,78,40,9.17,0,0
32,32,Rikitea,PF,-23.12,-134.97,75.67,75.67,70,77,4.45,0,0
34,34,Shingu,JP,33.73,135.98,66.25,66.25,97,100,8.41,0,0
35,35,Carnarvon,AU,-24.87,113.63,75.11,75.11,40,100,13.04,0,0
38,38,Tabou,CI,4.42,-7.35,80.17,80.17,86,95,10.22,0,0

In [9]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
1           Kawhia      NZ     60.01 -38.07  174.82
2     Puerto Ayora      EC     84.20  -0.74  -90.35
3      Hidrolandia      BR     73.18  -4.41  -40.44
6         Portland      US     87.01  45.52 -122.68
7            Kapaa      US     80.60  22.08 -159.32
8             Jian      CN     72.07  27.12  114.98
9            Alofi      NU     84.20 -19.06 -169.92
17   San Policarpo      PH     82.83  12.18  125.51
18  Guerrero Negro      MX     76.32  27.98 -114.06
21          Syriam      MM     80.60  16.77   96.24

In [10]:
# Set parameters to search for a hotel.
params = {
    "radius": 10000,
    "type": "lodging",
    "key": g_key
}

In [11]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [13]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kawhia,NZ,60.01,-38.07,174.82,Kawhia Beachside Scape Holiday Park
2,Puerto Ayora,EC,84.20,-0.74,-90.35,Finch Bay Galapagos Hotel
3,Hidrolandia,BR,73.18,-4.41,-40.44,Hotel Ideal
6,Portland,US,87.01,45.52,-122.68,Portland Marriott City Center
7,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
8,Jian,CN,72.07,27.12,114.98,Luling International Hotel
9,Alofi,NU,84.20,-19.06,-169.92,Scenic Matavai Resort Niue
17,San Policarpo,PH,82.83,12.18,125.51,Kirum-Kirum Resort and Hotel
18,Guerrero Negro,MX,76.32,27.98,-114.06,The Halfway Inn
21,Syriam,MM,80.60,16.77,96.24,"Sule Shangri-La, Yangon"
22,Bredasdorp,ZA,60.80,-34.53,20.04,Bredasdorp Country Manor
24,Pedernales,DO,84.45,18.04,-71.74,Hotel Costa Marina
25,Hilo,US,75.20,19.73,-155.09,Hilo Hawaiian Hotel
26,San Cristobal,VE,84.20,7.77,-72.22,Pirineos
29,Hermanus,ZA,64.99,-34.42,19.23,Misty Waves Boutique Hotel
31,Bambous Virieux,MU,75.20,-20.34,57.76,Laguna Beach Hotel & Spa
32,Rikitea,PF,75.67,-23.12,-134.97,Pension Maro'i
34,Shingu,JP,66.25,33.73,135.98,Shingu UI Hotel
35,Carnarvon,AU,75.11,-24.87,113.63,Hospitality Carnarvon
38,Tabou,CI,80.17,4.42,-7.35,hotêl doufoulougou

In [15]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")